#root{
    position: absolute;
    background: #254D70;
    width: 100%;
    height: 100%;
    overflow: auto;
}
#logo1{
    width: 80%;
}
.section{
    background-color: #131D4F;
    color: aliceblue;
    padding: 2.5%;
    box-shadow: 15px -15px #E3D095;
}
#packet_input, #interface_input, #filename{
    border-radius: 0;
}
#optionsHeader{ 
    cursor: pointer; 
    user-select: none;
}
.optionsColumn{
    margin: 1.5%;
    padding: 1%;
    background: rgba(37, 77, 112,0.5);
    box-shadow: -8px 8px #FFFBDE;
}
.outputContainer{
    background-color: #B6F500;
    box-shadow: 15px -15px #BE3D2A;
    padding: 5%;
}
.commandContainer{
    position: relative;
    background-color: #E9A319;
    box-shadow: -10px 15px #BE3D2A;
    padding: 0.5%;
    font-family: monospace;
    display: flex;
    align-items: center;
    gap: 8px;
}
.copyButton{
    position: relative;
    background-color: aliceblue; 
    height: 100%;  
    padding: 1%;
    font-size: 1.5em;
}
.commandColumn{
    margin: 1%;
}
#firstPartCommand{
    display: inline-block;
    width: auto;
    margin: 0;
    white-space: nowrap; 
}
.filterButton{
    all: unset;
    width: 20%;
    text-align: center;
    margin: 7.5px;
    transition: all 0.2s ease;
    background-color: #FF9B45;
    color: #521C0D;
    box-shadow: 5px -5px #FFF0DC;
}
.filterButton:active{
    transform: scale(0.9);
    background-color: #FFF0DC;
    color: #521C0D;
    box-shadow: 5px -5px #FF9B45;
}
.filterOutputsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 1em;
  align-items: center;
}

.filter_div {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(82, 28, 13,0.15);
  padding: 5px;
  border-radius: 5px;
}

.filter_p {
  display: inline-block;
  width: auto;
  margin: 0;
  white-space: nowrap; 
  border: 1.5px dashed black;
  padding: 5px;
}
.filterDeleteButton, .filterEditButton{
    position: relative;
    right: -8px;
    top: -15px;
    z-index: 15;
    font-size: 1.5em;
    cursor: pointer;
}
.filterEditButton{
    top: 12px;
    right: -42px;
}
.filtereditform{
    position: absolute;
    background-color: #819A91;
    width: 200%;
    z-index: 16;
    padding: 5%;
    top: 100%;
    box-shadow: 0px 8px 8px #000; 
}
